<!-- card start-->
<style>
  #inline{width:100%;display:flex;}
.one{width:66%;margin:10px;}
.two{width:17%;margin:10px;border:transparent;background-color: transparent;}
.three{width:17%;margin:10px;}
</style>

<div class="card-columns">
<div class="card" *ngFor="let curPhoto of photos | paginate: config" >
   <img class="card-img-top" src="{{curPhoto.imgUrl}}" alt="Alternative Image" />
   <div class="card-body">
      <p class="card-text">
        Upload Date - {{curPhoto.uploadDate}}
      </p>
      <div id="inline">
        <div class="one">{{curPhoto.title}}</div>
        <button class="two"><i title="{{curPhoto.comment}}" (click)="openDialog(curPhoto)" class="far fa-comment"></i></button>
        <div class="three"><i title="{{curPhoto.commentBy}}" class="far fa-user"></i></div>
      </div>
      <hr>
      <bar-rating [readOnly]=true [(rate)]="curPhoto.rating" [max]="5"></bar-rating>
      </div>  
</div>
</div>
<!-- card ends-->
<div>
  <pagination-controls style="float: right;" (pageChange)="pageChanged($event)"></pagination-controls>
</div>
